.bikerz-zone{
    background-color: rgb(235, 61, 61);
    opacity: .5;
}
.card{
    width: calc(90%/3);

}
/* .card img{
    height: 200px;
} */
/* .happy-client{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0 50px;
} */